body {
    margin: 0;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
    background-color: #fff;
}

.container {
    min-height: 100%;
    min-width: 100%;
}

/* Nav Bar */
.navbar-light .navbar-toggler {
    color: rgba(0,0,0,.5);
    border-color: rgba(0,0,0,.1);
}

.navbar-toggler {
    padding: .25rem .75rem;
    font-size: 1.25rem;
    line-height: 1;
    background-color: transparent;
    border: 1px solid transparent;
    border-radius: .25rem;
}

.navbar-toggler-icon {
    display: inline-block;
    width: 1.5em;
    height: 1.5em;
    vertical-align: middle;
    content: "";
    background: no-repeat center center;
    background-size: 100% 100%;
}


.navbar-toggler-icon {
    background-image: url("/assets/images/navbaricon.png");
}


.bg-light {
    background-color: #f8f9fa!important;
}

.navbar-brand {
    font-size: x-large;
    font-weight: bold;
}

#index-nav-link, #index-navbarbrand {
    color: black;
}

#index-nav-link:hover {
    color: #7fb3e0;
}

.genric-btn {
    margin-top: 6.5px;
    padding: 8px;  
    line-height: 8px;
    display: inline-block;
    text-decoration: none;
    text-align: center;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
}

.genric-btn.primary-border:hover {
    color: #fff !important;
    background: #8490ff;
    border: 1px solid transparent;
    text-decoration: none;
}

.genric-btn.primary-border {
    color: #8490ff;
    border: 1px solid #8490ff;
    background: #fff;
}

.genric-btn.circle {
    border-radius: 20px;
}

/*Main Title */
#index-title {
    background-color: #e9f4fc;
    /* background-color: #FFFFFF; */
}

.title-color {
    position: relative;
    z-index: 1;
    display: block;
}

.title-color {
    position: relative;
    height: 600px;
}

.title-container {
    padding-left: 180px;
    position: absolute;
    bottom: 150px;
    width: 100%;
}

.title-text {
    color: black;
    font-size: 25px;
    font-weight: bold;
    margin: 0;
}

.title-description {
    font-size: 15px;
    font-weight: normal;
}

@media (max-width: 480px) {
    .title-container {
      padding: 0 20px 0 20px;
      margin:0;
    }
}

@media (max-width: 780px) {
    .title-container {
      padding: 0 10px 0 10px;
      margin:0;
    }
}

@media (min-width: 1300px) {
    .title-text
    {
        font-size: 28px;
    }

    .title-description
    {
        font-size: 18px;
    }
}


/* Main areas */
.home-content {
    margin-top: 70px;
}
.services-row {
    margin: 30px 50px 30px 50px;
}

.single-services {
    text-align: center;
    margin-top: 30px;
}

.single-services a {
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
}

.single-services a:hover {
    color: #8490ff;
    border: 1px solid transparent;
    text-decoration: none;
}

.single-services a {
    color: black;
}

.single-services p {
    color: rgb(148, 143, 143);
}


/* portfolio page */
.post-title a {
    color: black;
    font-weight: 700;
    font-size: 24px;
}

.post-preview p {
    color: #777777;
    font-size: 16px;
}

.portfolio-photo {
    width: 150px;
    height: 150px;
}

.sample-text-area {
    padding: 80px 0 70px 0;
}

#index-portfolio-title  {
    background: -webkit-linear-gradient(0deg, #8490ff 0%, #62bdfc 100%);
    /* background-color: #FFFFFF; */
}

.portfolio-title-color {
    position: relative;
    z-index: 1;
    display: block;
}

.portfolio-title-color {
    position: relative;
    height: 600px;
}

.post-title a, .post-title a:focus, .post-title a:hover {
    text-decoration: none;
    outline: 0;
}

.post-title > a {
    font-size: 24px;
}
